{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "vitest"
  ],
  "rules": {
    // Additional rules or overrides can be added here
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "excludedFiles": [
        "dist/**/*",
        "node_modules/**/*"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ],
      "rules": {
        // TypeScript specific rules or overrides can be added here
      }
    },
    {
      "files": [
        "**/*.test.ts",
        "**/*.test.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint",
        "vitest"
      ],
      "rules": {
        // Test specific rules or overrides can be added here
      },
      "settings": {
        "vitest": {
          "typecheck": true
        }
      }
    }
  ],
}
